In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
source1 = r'/content/gdrive/MyDrive/skripsi/master-data-clean.csv'
master = pd.read_csv(source1)
master

,NO,NIK,BUSINESS_UNIT,JOB_LEVEL,LOCATION,DEPARTMENT,JOB_POSITION,PK,BEHAVIOR,ADDITIONAL POINT,PERFORMANCE,COMPETENCY,LEARNING POINT
0,1.0,200700326,PT. HADJI KALLA (HOLDING),EXECUTIVE LEADERS,HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,CHIEF EXECUTIVE OFFICER GO DEVCON,1.002,0.935000,0.000,1.02001875,1.0933333333333335,0.00
1,2.0,199500085,PT. HADJI KALLA (HOLDING),EXECUTIVE LEADERS,HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,CHIEF FINANCE OFFICER KALLA OTO,0.930,0.905729,0.005,0.931359375,1.0155555555555558,0.00
2,3.0,199500048,PT. HADJI KALLA (HOLDING),EXECUTIVE LEADERS,HEAD OFFICE WISMA KALLA LT. 14,DIRECTOR,CORPORATE FINANCE DIRECTOR,0.906,0.990000,0.000,0.98305625,1.0533333333333332,0.00
3,4.0,200700297,PT. HADJI KALLA (HOLDING),EXECUTIVE LEADERS,HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,MARKETING & BUSINESS DEVELOPMENT DIRECTOR,0.984,0.938000,0.000,1.030740625,1.1333333333333333,0.00
4,5.0,201600670,PT. HADJI KALLA (HOLDING),EXECUTIVE LEADERS,HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,PEOPLE & PERFORMANCE DIRECTOR,0.902,0.978000,0.000,1.0231249999999998,1.017777777777778,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,1483.0,201000393,PT. KALLA INTI KARSA,STAFF/OPERATOR,WISMA KALLA,WISMA KALLA OFFICE BUILDING,OPERATION STAFF,0.988,0.674479,0.010,0.950971875,1.0114285714285716,0.58
1341,1484.0,200800348,PT. KALLA INTI KARSA,STAFF/OPERATOR,WISMA KALLA,WISMA KALLA OFFICE BUILDING,TENANT RELATION STAFF,0.930,0.997917,0.010,0.9501875,1.157142857142857,1.00
1342,1485.0,200100421,PT. KALLA INTI KARSA,STRATEGIC LEADERS,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVERAGE GENERAL MANAGER,0.913,0.880729,0.015,0.923159375,1.1142857142857143,1.00
1343,1486.0,199500919,PT. KALLA INTI KARSA,OPERATIONAL LEADERS,WISMA KALLA,FOOD & BEVERAGE,EXECUTIVE CHEF,0.930,0.882813,0.015,0.937921875,1.0857142857142859,0.00
1344,1487.0,201929411,PT. KALLA INTI KARSA,OPERATIONAL LEADERS,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVEREAGE BUSINESS SUPPORT MANAGER,0.932,0.827604,0.015,0.931340625,0.9257142857142857,1.00

In [ ]:

source = r'/content/gdrive/MyDrive/skripsi/hasil-cluster1.csv'
cluster1 = pd.read_csv(source)

In [ ]:
cluster1

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201600647,0.970874,0.936842,0.470588,1.00,0.866667,0.620690,0.655172,0.589286,1
1,201903571,0.970874,0.936842,0.382353,1.00,0.833333,0.620690,0.620690,0.607143,1
2,201903198,0.970874,0.926316,0.235294,1.00,0.833333,0.706897,0.517241,0.589286,1
3,201800932,0.970874,0.936842,0.500000,1.00,0.944444,0.620690,0.689655,0.696429,1
4,201500608,0.970874,0.915789,0.411765,1.00,0.877778,0.603448,0.689655,0.660714,1
...,...,...,...,...,...,...,...,...,...,...
158,201800934,0.970874,0.936842,0.441176,0.70,0.933333,0.810345,0.775862,0.821429,1
159,200100216,0.951456,0.894737,0.235294,1.00,0.855556,0.655172,0.551724,0.678571,1
160,200000197,0.902913,0.863158,0.500000,0.70,0.833333,0.793103,0.724138,0.803571,1
161,201000393,0.961165,0.884211,0.441176,0.58,0.611111,0.517241,0.448276,0.392857,1
162,201929411,0.902913,0.863158,0.205882,1.00,0.900000,0.793103,0.482759,0.589286,1

In [ ]:
cluster1.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,1.630000e+02,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.0
mean,2.011585e+08,0.925487,0.880982,0.424396,0.886196,0.823654,0.682357,0.643220,0.664001,1.0
std,8.658951e+05,0.055426,0.053920,0.140294,0.198750,0.130591,0.145328,0.151781,0.170834,0.0
min,1.972906e+08,0.669903,0.621053,0.058824,0.000000,0.000000,0.120690,0.068966,0.000000,1.0
25%,2.009409e+08,0.902913,0.852632,0.352941,0.800000,0.777778,0.620690,0.568966,0.607143,1.0
50%,2.014006e+08,0.941748,0.894737,0.441176,1.000000,0.844444,0.672414,0.672414,0.678571,1.0
75%,2.018009e+08,0.970874,0.915789,0.500000,1.000000,0.900000,0.793103,0.758621,0.785714,1.0
max,2.021913e+08,0.970874,0.957895,0.852941,1.000000,1.000000,1.000000,0.965517,1.000000,1.0

In [ ]:
mergedCSV = master[['NIK','BUSINESS_UNIT','LOCATION','DEPARTMENT','JOB_POSITION','JOB_LEVEL']].merge(cluster1, on = 'NIK',how = 'right')
mergedCSV

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201600647,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER ASSOCIATES,TECHNICAL LEADERS,0.970874,0.936842,0.470588,1.00,0.866667,0.620690,0.655172,0.589286,1
1,201903571,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER SENIOR ANALYST,TECHNICAL LEADERS,0.970874,0.936842,0.382353,1.00,0.833333,0.620690,0.620690,0.607143,1
2,201903198,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER SENIOR ANALYST,TECHNICAL LEADERS,0.970874,0.926316,0.235294,1.00,0.833333,0.706897,0.517241,0.589286,1
3,201800932,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ASSET MANAGEMENT STANDARDIZATION DEPARTMENT,BUILDING & FACILITIES STANDARDIZATION OFFICER,TECHNICAL LEADERS,0.970874,0.936842,0.500000,1.00,0.944444,0.620690,0.689655,0.696429,1
4,201500608,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ASSET MANAGEMENT STANDARDIZATION DEPARTMENT,BUILDING & FACILITIES STANDARDIZATION OFFICER,TECHNICAL LEADERS,0.970874,0.915789,0.411765,1.00,0.877778,0.603448,0.689655,0.660714,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,201800934,PT. KALLA INTI KARSA,NIPAH MALL,PURCHASING DEPARTMENT,LOGISTIC STAFF,STAFF/OPERATOR,0.970874,0.936842,0.441176,0.70,0.933333,0.810345,0.775862,0.821429,1
159,200100216,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING SENIOR SUPERVISOR,TECHNICAL LEADERS,0.951456,0.894737,0.235294,1.00,0.855556,0.655172,0.551724,0.678571,1
160,200000197,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING SUPERVISOR,TECHNICAL LEADERS,0.902913,0.863158,0.500000,0.70,0.833333,0.793103,0.724138,0.803571,1
161,201000393,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,OPERATION STAFF,STAFF/OPERATOR,0.961165,0.884211,0.441176,0.58,0.611111,0.517241,0.448276,0.392857,1
162,201929411,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVEREAGE BUSINESS SUPPORT MANAGER,OPERATIONAL LEADERS,0.902913,0.863158,0.205882,1.00,0.900000,0.793103,0.482759,0.589286,1

In [ ]:
mergedCSV['BUSINESS_UNIT'].unique()

array(['PT. HADJI KALLA (HOLDING)', 'PT. BUMI KARSA',
       'PT. BUMI SARANA UTAMA', 'PT. BUMI SARANA BETON',
       'PT. KALLA INTI KARSA'], dtype=object)

In [ ]:

for i in mergedCSV['BUSINESS_UNIT'].unique():
  print(i, len(mergedCSV.loc[mergedCSV['BUSINESS_UNIT'] == i]))

PT. HADJI KALLA (HOLDING) 49
PT. BUMI KARSA 34
PT. BUMI SARANA UTAMA 24
PT. BUMI SARANA BETON 17
PT. KALLA INTI KARSA 39

In [ ]:
for i in mergedCSV['DEPARTMENT'].unique():
  print(i, len(mergedCSV.loc[mergedCSV['DEPARTMENT'] == i]))

ASSESSMENT CENTER & COMPETENCY DEPARTMENT 3
ASSET MANAGEMENT STANDARDIZATION DEPARTMENT 3
BUSINESS DEVELOPMENT & SYNERGY DEVCON DEPARTMENT 1
BUSINESS DEVELOPMENT & SYNERGY OTO DIVISION 3
CORP. INFORMATION, COMMUNICATION & TECHNOLOGY DIVISION 1
CORP. PERFORMANCE & CULTURE DIVISION 1
CORPORATE COMMUNICATION DEPARTMENT 1
CORPORATE CULTURE DEPARTMENT 1
CORPORATE LEGAL DEPARTMENT 2
CORPORATE MARKETING SERVICES DEPARTMENT 2
CORPORATE SOCIAL RESPONSIBILITY DEPARTMENT 1
EXTERNAL RELATION DEPARTMENT 2
HC SHARED SERVICES DEPARTMENT 1
INTERNAL AUDIT & RISK MANAGEMENT DIVISION 1
INTERNAL AUDIT DEPARTMENT 10
KNOWLEDGE MANAGEMENT DEPARTMENT 1
LEARNING & DEVELOPMENT DIVISION 1
MARKETING RESEARCH & CUSTOMER INSIGHT DEPARTMENT 1
PEOPLE STRATEGY & POLICY DIVISION 1
QUALITY CONSOLIDATION DEPARTMENT 1
QUALITY SYSTEM & SUPPLY CHAIN MANAGEMENT DIVISION 1
RISK MANAGEMENT DEPARTMENT 3
SUPPLY CHAIN MANAGEMENT DEPARTMENT 3
TALENT MANAGEMENT DEPARTMENT 1
TRAINING & TALENT DEVELOPMENT DEPARTMENT 3
GENERAL AFFAIR DEPARTMENT 5
NON-STAF 1
PURCHASING DEPARTMENT 8
FINANCE DEPARTMENT 12
LEGAL DEPARTMENT 4
PROJECT DEPARTMENT 15
EQUIPMENT DEPARTMENT 2
PLANNING, RESEARCH & DEVELOPMENT DEPARTMENT 1
MARKETING & OPERATION DIVISION 2
ACCOUNTING DEPARTMENT 3
HCBP, GA, & HSE DEPARTMENT 3
BRANCH BULUNGAN 2
BRANCH GORONTALO 2
BRANCH JAYAPURA 1
BRANCH LOMBOK 4
BRANCH MAKASSAR 3
BRANCH PALU 2
BRANCH SORONG 1
TAC PAGIMANA 1
BATA RINGAN DEPARTMENT 4
HCBP, GA & HSE DEPARTMENT 3
PRECAST DEPARTMENT 2
PROCUREMENT DEPARTMENT 2
READY MIX DEPARTMENT 2
HCBP GA & HSE DEPARTMENT 6
MARI SHOPPING CENTRE 4
MARKETING & COMMUNICATION DEPARTMENT 4
ME & GREENSHIP 1
NIPAH OFFICE & SHOPPING CENTRE 10
WISMA KALLA OFFICE BUILDING 3
FOOD & BEVERAGE 1

In [ ]:
for i in mergedCSV['JOB_POSITION'].unique():
  print(i, len(mergedCSV.loc[mergedCSV['JOB_POSITION'] == i]))

ASSESSMENT CENTER ASSOCIATES 1
ASSESSMENT CENTER SENIOR ANALYST 2
BUILDING & FACILITIES STANDARDIZATION OFFICER 3
PJS. BUSINESS DEVELOPMENT ASSOCIATES 1
BUSINESS DEVELOPMENT & SYNERGY DIVISION HEAD 1
BUSINESS DEVELOPMENT & SYNERGY ASSOCIATES 2
CORP. INFORMATION, COMMUNICATION & TECHNOLOGY DIVISION HEAD 1
PJS. CORPORATE PERFORMANCE & EVALUATION SENIOR ASSOCIATES 1
CORPORATE COMMUNICATION OFFICER 1
CORPORATE CULTURE OFFICER 1
CORPORATE LEGAL DEPARTMENT HEAD 1
LITIGATION SENIOR OFFICER 1
CORPORATE MARKETING SERVICES DEPARTMENT HEAD 1
DATA MANAGEMENT SENIOR ANALYST 1
CORPORATE SOCIAL RESPONSIBILITY SPECIALIST 1
EXTERNAL RELATION SENIOR ASSOCIATES 1
PJS. EXTERNAL RELATION SENIOR ASSOCIATES 1
PJS. HC SHARED SERVICES DEPARTMENT HEAD 1
INTERNAL AUDIT & RISK MANAGEMENT DIVISION HEAD 1
INTERNAL AUDIT OFFICER 5
INTERNAL AUDIT SENIOR OFFICER 1
MONITORING & FOLLOW UP SENIOR OFFICER 1
INTERNAL AUDIT JUNIOR OFFICER 3
KNOWLEDGE MANAGEMENT SENIOR ANALYST 1
LEARNING & DEVELOPMENT DIVISION HEAD 1
MARKETING RESEARCH & CUSTOMER INSIGHT SENIOR ANALYST 1
PJS. PEOPLE STRATEGY & POLICY SENIOR ASSOCIATES 1
QUALITY CONSOLIDATION DEPARTMENT HEAD 1
QUALITY SYSTEM & SUPPLY CHAIN MANAGEMENT DIVISION HEAD 1
RISK MANAGEMENT OFFICER 2
RISK MANAGEMENT SENIOR OFFICER 1
PJS. SUPPLY CHAIN MANAGEMENT ASSOCIATES 1
SUPPLY CHAIN MANAGEMENT ASSOCIATES 1
SUPPLY CHAIN MANAGEMENT ANALYST 1
TALENT MANAGEMENT SENIOR ANALYST 1
TALENT & LEADERSHIP DEVELOPMENT ASSOCIATES 1
TALENT & LEADERSHIP DEVELOPMENT SENIOR ANALYST 1
TRAINING & TALENT DEVELOPMENT ADMINISTRATION SENIOR ANALYST 1
GENERAL AFFAIR SENIOR STAFF 2
GENERAL AFFAIR STAFF 5
PENGADAAN SPAREPART ALAT ANGKUT & ALAT PRODUKSI SENIOR STAFF 1
PENGADAAN SPAREPART ALAT BERAT SENIOR STAFF 1
TRANSPORTER 1
AP CONTROL STAFF 1
AR CONTROL & CASHLOAN STAFF 1
CASHIER STAFF 1
JAMINAN & AR REG STAFF 1
VERIFIKASI SENIOR STAFF 1
SECRETARY 2
LEGAL ADMINISTRATOR 1
PERSEDIAAN PROYEK & PLANT DAN INDIRECT PROCUREMENT SENIOR STAFF 1
AKUNTANSI STAFF 1
PELAKSANA UTAMA 1
QUANTITY 2
KASIR 1
SURVEYOR 1
PELAKSANA 4
AKUNTANSI PROYEK STAFF 1
ADMIN TEKNIK 1
DRAFTER 1
NON JOB 1
KEPALA MEKANIK 1
KOORDINATOR PELAKSANA 1
KABAG OPERASI 1
PELAKSANA STRUKTUR 1
MARKETING & OPERATION REGION I GENERAL MANAGER 1
TAX ASSISTANT MANAGER 1
HCBP SENIOR STAFF 1
MARKETING REGION I ANALYST 1
PURCHASING MANAGER 1
ASPAL PURCHASING SENIOR STAFF 1
TAC BULK BITUMEN STORAGE SENIOR SUPERVISOR 2
TECHNICAL SERVICES SUPERVISOR 3
PJS. BRANCH MANAGER 1
PJS. SALES SENIOR SUPERVISOR 2
SALES SENIOR SUPERVISOR 1
ADMINISTRATION SENIOR SUPERVISOR 1
BITUMEN DELIVERY SUPERVISOR 1
BALANCE & BOILER OPERATOR 2
TANKER TRUCK DRIVER 2
MECHANICAL ELECTRICAL ENGINEER 1
BATA RINGAN MANAGER 1
QA & QC SECTION HEAD (BATA RINGAN & SEMEN INSTAN) 1
ADMIN PRODUCTION STAFF 1
LOGISTIC STAFF FINISHED GOOD 1
EQUIPMENT MANAGER 1
COLLECTOR SUPERVISOR 1
COLLECTOR 2
HSE SECTION HEAD 1
HCBP ADMIN STAFF 1
PRECAST MANAGER 1
PRECAST TANJUNG SECTION HEAD 1
PJS. PROCUREMENT MANAGER 1
LOGISTIC STAFF 2
LABORAT 1
READY MIX PRODUCTION SECTION HEAD MAKASSAR 1
ACCOUNTING STAFF 2
COLLECTION & BILLING ASSISTANT MANAGER 1
COLLECTION & BILLING SECTION HEAD 1
COLLECTION & BILLING STAFF 2
HCBP ASSISTANT MANAGER 1
PJS. GA & OFFICE FACILITY SECTION HEAD 1
GA & OFFICE FACILITY STAFF 4
LEGAL ASSISTANT MANAGER 1
LEGAL SENIOR STAFF 2
ENGINEERING SENIOR SUPERVISOR 2
PJS. MARI SHOPPING CENTRE MANAGEMENT MANAGER 1
ENGINEERING STAFF 4
OPERATIONS ADMIN 1
CREATIVE DESIGN SENIOR ANALYST 1
ADVERTISING & PROMOTION STAFF 1
CREATIVE DESIGN ANALYST 2
ME & GREENSHIP SPECIALIST 1
PJS. NIPAH OFFICE & SHOPPING CENTRE MANGEMENT MANAGER 1
ENGINEERING SUPERVISOR 3
OPERATION SUPERVISOR 1
ENGINEERING ADMIN 1
OPERATION STAFF 3
FOOD & BEVEREAGE BUSINESS SUPPORT MANAGER 1

In [ ]:
mergedCSV.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,1.630000e+02,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.0
mean,2.011585e+08,0.925487,0.880982,0.424396,0.886196,0.823654,0.682357,0.643220,0.664001,1.0
std,8.658951e+05,0.055426,0.053920,0.140294,0.198750,0.130591,0.145328,0.151781,0.170834,0.0
min,1.972906e+08,0.669903,0.621053,0.058824,0.000000,0.000000,0.120690,0.068966,0.000000,1.0
25%,2.009409e+08,0.902913,0.852632,0.352941,0.800000,0.777778,0.620690,0.568966,0.607143,1.0
50%,2.014006e+08,0.941748,0.894737,0.441176,1.000000,0.844444,0.672414,0.672414,0.678571,1.0
75%,2.018009e+08,0.970874,0.915789,0.500000,1.000000,0.900000,0.793103,0.758621,0.785714,1.0
max,2.021913e+08,0.970874,0.957895,0.852941,1.000000,1.000000,1.000000,0.965517,1.000000,1.0

# ***Cluster 2***

In [ ]:
source = r'/content/gdrive/MyDrive/skripsi/hasil-cluster2.csv'
cluster2 = pd.read_csv(source)
cluster2

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201700733,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2
1,201801023,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2
2,201903269,0.961165,0.926316,0.588235,1.0,1.000000,0.896552,0.741379,0.785714,2
3,202104089,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2
4,201600660,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2
...,...,...,...,...,...,...,...,...,...,...
523,201200662,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
524,201100495,0.961165,0.926316,0.470588,0.5,0.944444,1.000000,0.982759,0.982143,2
525,200900350,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2
526,200800348,0.902913,0.884211,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
527,200100421,0.883495,0.852632,0.735294,1.0,0.866667,0.793103,0.758621,0.767857,2

In [ ]:
mergedCSV2 = master[['NIK','BUSINESS_UNIT','LOCATION','DEPARTMENT','JOB_POSITION','JOB_LEVEL']].merge(cluster2, on = 'NIK',how = 'right')
mergedCSV2

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201700733,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD,OPERATIONAL LEADERS,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2
1,201801023,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2
2,201903269,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.961165,0.926316,0.588235,1.0,1.000000,0.896552,0.741379,0.785714,2
3,202104089,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE JUNIOR OFFICER,STAFF/OPERATOR,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2
4,201600660,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,201200662,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,CUSTOMER RELATION,STAFF/OPERATOR,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
524,201100495,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.961165,0.926316,0.470588,0.5,0.944444,1.000000,0.982759,0.982143,2
525,200900350,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,FIT OUT STAFF,STAFF/OPERATOR,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2
526,200800348,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,TENANT RELATION STAFF,STAFF/OPERATOR,0.902913,0.884211,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
527,200100421,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVERAGE GENERAL MANAGER,STRATEGIC LEADERS,0.883495,0.852632,0.735294,1.0,0.866667,0.793103,0.758621,0.767857,2

In [ ]:
mergedCSV2.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,5.280000e+02,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.0
mean,2.011393e+08,0.937757,0.917464,0.615363,0.922860,0.949095,0.951443,0.919214,0.947004,2.0
std,8.492258e+05,0.048611,0.047852,0.179540,0.149566,0.062788,0.068445,0.086477,0.074157,0.0
min,1.982000e+08,0.485437,0.484211,0.176471,0.450000,0.577778,0.672414,0.603448,0.571429,2.0
25%,2.008980e+08,0.922330,0.905263,0.441176,0.950000,0.933333,0.896552,0.862069,0.892857,2.0
50%,2.013906e+08,0.951456,0.926316,0.588235,1.000000,0.966667,0.982759,0.939655,0.982143,2.0
75%,2.017908e+08,0.970874,0.947368,0.764706,1.000000,1.000000,1.000000,1.000000,1.000000,2.0
max,2.021913e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0

In [ ]:
for i in mergedCSV2['BUSINESS_UNIT'].unique():
  print(i, len(mergedCSV2.loc[mergedCSV2['BUSINESS_UNIT'] == i]))

PT. HADJI KALLA (HOLDING) 182
PT. BUMI KARSA 169
PT. BUMI SARANA UTAMA 48
PT. BUMI SARANA BETON 58
PT. KALLA INTI KARSA 71

In [ ]:
for i in mergedCSV2['LOCATION'].unique():
  print(i, len(mergedCSV2.loc[mergedCSV2['LOCATION'] == i]))

HEAD OFFICE WISMA KALLA LT. 14 51
HEAD OFFICE COKRO LT. 2 14
HEAD OFFICE WISMA KALLA LT. 13 71
NIPAH MALL 18
HEAD OFFICE WISMA KALLA LT. 3 43
HEADQUARTERS 44
HEAD OFFICE 55
PROYEK BATANG ASAI 4
PROYEK BENDUNG BUDONG BUDONG MAMUJU 3
PROYEK IRIGASI BALIASE KIRI LUWU UTARA 1
PROYEK IRIGASI PAMANUKAN SUBANG 3
PROYEK IRIGASI RENTANG LS004 7
PROYEK IRIGASI RENTANG LS008 4
PROYEK JALAN MAJENE-POLEWALI 6
PROYEK PEMBANGUNAN BENDUNGAN BOLANGO ULU 4
PROYEK PEMBANGUNAN MASJID RAYA BONE 2
PROYEK PRESERVASI JALAN SINJAI-WATAMPONE 6
PROYEK SAMBERA 7
PROYEK STASIUN KA 4
PROYEK SUNGAI BOGOWONTO YOGYAKARTA 5
REPRESENTATIVE OFFICE 3
PENGENDALIAN BANJIR KALI BEKASI PAKET 6 4
PERALATAN PROYEK BENDUNG BOLANGO 2
PLANT MAROS-BONE(CAMBA) 1
PROYEK JALAN YETTI MAMBERAMO 7
PROYEK PENG SUNGAI BOLANGO GORONTALO 4
PROYEK PERKERETAAPIAN MKS-PAREPARE SEGMEN F 1
PROYEK REVITALISASI DANAU TONDANO TAHAP I 3
PROYEK TANAH GROGOT 3
UNIT 13
PLANT BILA SIDRAP 1
PLANT GROGOT 1
PLANT KAMPIRI 1
PLANT PINRANG 1
PLANT SAMBERA 1
PROYEK BENDUNGAN LAU SIMEME MEDAN 1
PROYEK HOTMIX MALLAWA 1
PROYEK IRIGASI BENDUNGAN LADONGI 2
PROYEK RENOVASI SHOW ROOM DAN BENGKEL PT. HADJI KALLA CABANG BONE 1
HEAD OFFICE WISMA KALLA LT. 10 17
BRANCH BANJARMASIN 1
BRANCH KENDARI 1
TAC KESSILAMPE 4
BRANCH LOMBOK 2
BRANCH MAKASSAR 5
TAC PARE - PARE 2
TAC PANTOLOAN 2
BRANCH PONTIANAK 2
TAC PONTIANAK 3
BRANCH SAMARINDA 1
BRANCH SORONG 1
TAC ARAR 1
TAC PAGIMANA 6
Head Office Wisma Kalla 39
Unit KIMA 17 5
Unit Tanjung Bunga 10
Unit Bontoramba 2
Ready Mix Proyek Pangkep 1
Unit Kendari 1
MALL RATU INDAH 8
WISMA KALLA 11

In [ ]:
for i in mergedCSV2['DEPARTMENT'].unique():
  print(i, len(mergedCSV2.loc[mergedCSV2['DEPARTMENT'] == i]))

ACCOUNTING CONSOLE DEPARTMENT 4
ASSESSMENT CENTER & COMPETENCY DEPARTMENT 1
ASSET MANAGEMENT STANDARDIZATION DEPARTMENT 3
BUDGET CONTROL & TAX  DEVCON DEPARTMENT 2
BUDGET CONTROL & TAX  OTO DEPARTMENT 3
BUSINESS DEVELOPMENT & EVALUATION DEPARTMENT 2
BUSINESS DEVELOPMENT & SYNERGY DEVCON DEPARTMENT 4
BUSINESS DEVELOPMENT & SYNERGY OTO DIVISION 2
BUSINESS DEVELOPMENT DIVISION 1
CORP. PERFORMANCE & CULTURE DIVISION 3
CORPORATE COMMUNICATION DEPARTMENT 9
CORPORATE CULTURE DEPARTMENT 2
CORPORATE FINANCE DEPARTMENT 6
CORPORATE FINANCE, ACCOUNTING & TAX DIVISION 1
CORPORATE LEGAL DEPARTMENT 3
CORPORATE MARKETING SERVICES DEPARTMENT 7
CORPORATE SOCIAL RESPONSIBILITY DEPARTMENT 1
DATA & APPLICATION SOLUTION DEPARTMENT 9
FINANCE & ACCOUNTING OPERATION HOLDING & HSI DEPARTMENT 5
FINANCE OPERATION DEVCON DIVISION 1
FINANCE OPERATION OTO DIVISION 1
GA, HSE, PURCHASING & SECRETARY HOLDING DEPARTMENT 4
GENERAL COUNSEL DIVISION 1
GOOD CORPORATE GOVERNANCE DEPARTMENT 2
HC SHARED SERVICES DEPARTMENT 7
INTERNAL AUDIT DEPARTMENT 16
KNOWLEDGE MANAGEMENT DEPARTMENT 4
MARKETING & CORPORATE COMMUNICATION DIVISION 1
MARKETING RESEARCH & CUSTOMER INSIGHT DEPARTMENT 5
NON-GO ACCOUNTING DEPARTMENT 2
PEOPLE STRATEGY & POLICY DIVISION 5
PROCUREMENT & ASSET STANDARDIZATION DIVISION 1
QUALITY CONSOLIDATION DEPARTMENT 2
QUALITY SYSTEM DEPARTMENT 5
RISK MANAGEMENT DEPARTMENT 1
SOLUTION DELIVERY DEPARTMENT 12
SOLUTION PLAN & STRATEGY DEPARTMENT 7
SOLUTION SUPPORT & INFRASTRUCTURES DEPARTMENT 14
SUPPLY CHAIN MANAGEMENT DEPARTMENT 2
TALENT MANAGEMENT DEPARTMENT 6
TRAINING & TALENT DEVELOPMENT DEPARTMENT 9
TREASURY & ASET MANAGEMENT DIVISION 1
VENDOR MANAGEMENT DEPARTMENT 5
DIRECTOR 3
BUILDING & MEP CONSTRUCTION DEPARTMENT 1
EQUIPMENT DEPARTMENT 16
PLANNING, RESEARCH & DEVELOPMENT DEPARTMENT 6
ACCOUNTING DEPARTMENT 26
ASSET MANAGEMENT DIVISION 1
BUSSINES DEVELOPMENT DEPARTMENT 2
FINANCE DEPARTMENT 25
HUMAN CAPITAL DEPARTMENT 6
PEMASARAN DEPARTMENT 4
PEMASARAN DIVISION 1
PROJECT DEPARTMENT 83
PURCHASING DEPARTMENT 14
QMS & HSE DEPARTMENT 7
REKAYASA & PENGEMBANGAN DIVISION 1
TECHNICAL ADMNITSTRATION DEPARTMENT 7
GENERAL AFFAIR DEPARTMENT 2
LEGAL DEPARTMENT 3
ANAK USAHA (PT TOMBOLO ENERGY) 14
SMO 1
MARKETING & OPERATION DIVISION 2
EQUIPMENT & MAINTENANCE 2
HCBP, GA, & HSE DEPARTMENT 1
BRANCH BANJARMASIN 1
BRANCH KENDARI 5
BRANCH LOMBOK 2
BRANCH MAKASSAR 7
BRANCH PALU 2
BRANCH PONTIANAK 5
BRANCH SAMARINDA 1
BRANCH SORONG 2
TAC PAGIMANA 6
HCBP, GA & HSE DEPARTMENT 4
PRECAST DEPARTMENT 6
PROCUREMENT DEPARTMENT 2
PRODUCTION DIVISION 1
READY MIX DEPARTMENT 4
RESEARCH & DEVELOPMENT 2
SALES & MARKETING DIVISION 1
SALES DEPARTMENT 15
SEMEN INSTAN DEPARTMENT 3
SUPPLY CHAIN 1
PROPERTY MANAGEMENT 1
SALES DIVISION 1
CASUAL LEASING & LIVE SPACE DEPARTMENT 5
CIVIL & CONSTRUCTION DEPARTMENT 4
HCBP GA & HSE DEPARTMENT 5
MARI SHOPPING CENTRE 5
MARKETING & COMMUNICATION DEPARTMENT 5
NIPAH OFFICE & SHOPPING CENTRE 13
WISMA KALLA OFFICE BUILDING 8
FOOD & BEVERAGE 1

In [ ]:
for i in mergedCSV2['JOB_POSITION'].unique():
  print(i, len(mergedCSV2.loc[mergedCSV2['JOB_POSITION'] == i]))

PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD 1
ACCOUNTING CONSOLE OFFICER 2
ACCOUNTING CONSOLE JUNIOR OFFICER 1
ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD 1
ASSET MANAGEMENT STANDARDIZATION DEPARTMENT HEAD 1
BUILDING & FACILITIES STANDARDIZATION SENIOR OFFICER 1
LANDBANK ASSET MANAGEMENT ASSOCIATES 1
PJS. BUDGET CONTROL & TAX DEPARTMENT HEAD 1
BUDGET CONTROL & TAX SENIOR ANALYST 1
BUDGET CONTROL & TAX DEPARTMENT HEAD 1
BUDGET CONTROL SENIOR OFFICER 1
TAX SENIOR OFFICER 1
BUSINESS DEVELOPMENT & EVALUATION DEPARTMENT HEAD 1
BUSINESS DEVELOPMENT & EVALUATION OFFICER 1
BUSINESS DEVELOPMENT & SYNERGY DEPARTMENT HEAD 1
BUSINESS DEVELOPMENT & SYNERGY ASSOCIATES 3
BUSINESS DEVELOPMENT & SYNERGY SENIOR ANALYST 1
BUSINESS DEVELOPMENT & SYNERGY SENIOR ASSOCIATES 1
BUSINESS DEVELOPMENT DIVISION HEAD 1
CORP. PERFORMANCE & CULTURE DIVISION HEAD 1
PJS. CORPORATE PERFORMANCE & EVALUATION SENIOR ASSOCIATES 1
CORPORATE PERFORMANCE & EVALUATION SENIOR ANALYST 1
PJS. CORPORATE COMMUNICATION DEPARTMENT HEAD 1
CORPORATE COMMUNICATION OFFICER 1
CORPORATE COMMUNICATION SENIOR OFFICER 1
DESIGN & VIDEO GRAPHICS SENIOR ANALYST 2
MEDIA RELATION OFFICER 3
DESIGN & VIDEO GRAPHICS ANALYST 1
CORPORATE CULTURE DEPARTMENT HEAD 1
CORPORATE CULTURE OFFICER 1
CORPORATE TAX DEPARTMENT HEAD 1
PJS. CORPORATE FINANCE DEPARTMENT HEAD 1
CORPORATE TAX OFFICER 1
FINANCE CONTROL OFFICER 1
FINANCE CONTROL SENIOR OFFICER 1
PJS. CORPORATE TAX OFFICER 1
CORPORATE FINANCE, ACCOUNTING & TAX DIVISION HEAD 1
COMMERCIAL LEGAL SENIOR OFFICER 2
LITIGATION ASSOCIATES 1
CALL CENTER & CUST. SERVICES ASSOCIATES 1
DIGITAL MEDIA SENIOR ANALYST 2
EVENT MANAGEMENT ANALYST 2
KALLA CARE & CUSTOMER SERVICES ANALYST 3
BUSINESS INTELLIGENCE SENIOR ANALYST 1
APPLICATION SUPPORT SENIOR ANALYST 2
DATA ENGINEER ASSOCIATES 1
DATA ENGINEER SENIOR ANALYST 1
DATA SCIENTIST ASSOCIATES 1
DATABASE ADMINISTRATOR SENIOR ANALYST 1
ERP SUPPORT ASSOCIATES 1
ERP SUPPORT SENIOR ANALYST 1
APPLICATION SUPPORT ANALYST 1
FINANCE & ACCOUNTING OPERATION HOLDING & HSI DEPARTMENT HEAD 1
ACCOUNTING OFFICER 1
CASH FLOW MANAGEMENT SENIOR OFFICER 1
FINANCE & ACCOUNTING SENIOR OFFICER 1
REPORT & TAX OFFICER 1
DEPUTY CORPORATE FINANCE, ACCOUNTING & TAX DIVISION HEAD 1
FINANCE OPERATION DIVISION HEAD 1
PJS. GA, HSE, PURCHASING & SECRETARY HOLDING DEPARTMENT HEAD 1
GA, HSE, PURCHASING & SECRETARY HOLDING ASSOCIATES 2
HSE & PURCHASING SENIOR ANALYST 1
GENERAL COUNSEL DIVISION HEAD 1
GOOD CORPORATE GOVERNANCE SENIOR ASSOCIATES 1
GOOD CORPORATE GOVERNANCE SENIOR ANALYST 1
HC SHARED SERVICES & TALENT MANAGEMENT DIVISION HEAD 1
HC SHARED SERVICES ASSOCIATES 2
nan 0
HC SHARED SERVICES SENIOR ANALYST 3
DEVCON INTERNAL AUDIT DEPARTMENT HEAD 1
PJS. INTERNAL AUDIT OTO DEPARTEMENT HEAD 1
INTERNAL AUDIT OFFICER 4
INTERNAL AUDIT SENIOR OFFICER 4
PJS. INTERNAL AUDIT OFFICER 3
PJS. MONITORING & FOLLOW UP SENIOR OFFICER 1
TECHNICAL AUDIT ASSOCIATES 1
INTERNAL AUDIT JUNIOR OFFICER 1
KNOWLEDGE MANAGEMENT DEPARTMENT HEAD 1
KNOWLEDGE MANAGEMENT ASSOCIATES 1
KNOWLEDGE MANAGEMENT SENIOR ANALYST 1
KNOWLEDGE MANAGEMENT ANALYST 1
PJS. MARKETING & CORPORATE COMMUNICATION DIVISION HEAD 1
MARKETING RESEARCH & CUSTOMER INSIGHT DEPARTMENT HEAD 1
MARKETING RESEARCH & CUSTOMER INSIGHT ASSOCIATES 2
MARKETING RESEARCH & CUSTOMER INSIGHT SENIOR ANALYST 2
NON-GO ACCOUNTING DEPARTMENT HEAD 1
PJS. NON-GO ACCOUNTING OFFICER 1
PEOPLE STRATEGY & POLICY DIVISION HEAD 1
PEOPLE STRATEGY & POLICY SPECIALIST 1
PJS. PEOPLE STRATEGY & POLICY SENIOR ASSOCIATES 1
PEOPLE STRATEGY & POLICY ASSOCIATES 1
PEOPLE STRATEGY & POLICY SENIOR ANALYST 1
PROCUREMENT & ASSET STANDARDIZATION DIVISION HEAD 1
PJS. QUALITY SYSTEM GROUP OPERATION OTO SENIOR ASSOCIATES 1
QUALITY SYSTEM GROUP OPERATION DEVCON ASSOCIATES 1
QUALITY SYSTEM DEPARTMENT HEAD 1
QUALITY SYSTEM ASSOCIATES 1
QUALITY SYSTEM SENIOR ANALYST 3
RISK MANAGEMENT DEPARTMENT HEAD 1
DATA & APPLICATION SOLUTION DEPARTMENT HEAD 1
PJS. SOLUTION DELIVERY DEPARTMENT HEAD 1
SOLUTION DELIVERY ASSOCIATES 2
SOLUTION DELIVERY SENIOR ANALYST 7
SOLUTION DELIVERY ANALYST 1
SOLUTION PLAN & STRATEGY DEPARTMENT HEAD 1
IT QA SENIOR ANALYST 1
PROJECT MANAGEMENT ASSOCIATES 5
SOLUTION SUPPORT & INFRASTRUCTURES DEPARTMENT HEAD 1
DATA CENTER  & SERVER ASSOCIATES 1
DATA CENTER  & SERVER SENIOR ANALYST 1
INFRASTRUCTURES SERVICES ASSOCIATES 1
INFRASTRUCTURES SERVICES SENIOR ANALYST 1
IT QA ASSOCIATES 1
SERVICE DESK SENIOR ANALYST 1
SERVICE SUPPORT SENIOR ANALYST 5
INFRASTRUCTURES SERVICES ANALYST 1
SOLUTION SUPPORT ANALYST 1
PJS. SUPPLY CHAIN MANAGEMENT DEPARTMENT HEAD 1
SUPPLY CHAIN MANAGEMENT SENIOR ANALYST 1
PJS. TALENT MANAGEMENT DEPARTMENT HEAD 1
TALENT MANAGEMENT SENIOR ANALYST 5
TRAINING & TALENT DEVELOPMENT DEPARTMENT HEAD 1
KALLA TOYOTA LEARNING OFFICER 1
KALLA TOYOTA LEARNING SENIOR OFFICER 5
TRAINING SENIOR ANALYST 2
TREASURY & INVESTOR RELATION SENIOR SPECIALIST 1
VENDOR MANAGEMENT DEPARTMENT HEAD 1
VENDOR MANAGEMENT ASSOCIATES 2
VENDOR MANAGEMENT SENIOR ANALYST 2
CHIEF OPERATION OFFICER 2
BUILDING & MEP CONSTRUCTION MANAGER 1
DEPUTY EQUIPMENT MANAGER 1
EQUIPMENT MANAGER 1
NON JOB 1
STAFF AHLI 1
PJS. ACCOUNTING MANAGER 1
GENERAL MANAGER ASSET MANAGEMENT 1
BUSINESS DEVELOPMENT MANAGER 1
FINANCE DEPARTMENT HEAD 3
HCBP MANAGER 1
MARKETING (NON PU) MANAGER 1
MARKETING (PU) MANAGER 1
PEMASARAN GENERAL MANAGER 1
KEPALA PROYEK (SITE MANAGER) 1
PURCHASING MANAGER 1
QMS & HSE MANAGER 1
REKAYASA & PENGEMBANGAN GENERAL MANAGER 1
TECHNICAL ADMINISTRATION MANAGER 1
KEPALA PROYEK 10
SITE MANAGER 1
PROJECT MANAGER 4
COST ACCOUNTING STAFF (EQUIPMENT & PLANT) 2
COST ACCOUNTING STAFF (HO) 2
EQUIPMENT HSE SENIOR STAFF 1
HCBP STAFF 3
TEKNIK WILAYAH STAFF 2
ADMINISTRATOR GUDANG STAFF 1
GUDANG SPAREPART & SISA PROYEK STAFF 1
GENERAL AFFAIR STAFF 2
LEGAL ADMINISTRATOR 1
ESTIMATOR STAFF 3
DOCUMENT QUALITY CONTROL SENIOR STAFF 1
ERP SENIOR STAFF 1
TECHNICAL ADMINISTRATION SENIOR STAFF 3
TENDER ADMINISTRATION SENIOR STAFF 1
TENDER CLARIFICATION SENIOR STAFF 1
PELAKSANA 3
OPERATOR ALAT BERAT 1
AKUNTANSI PROYEK STAFF 3
QUANTITY 7
AKUNTANSI STAFF 4
PJS. KABAG TEKNIK 3
QUALITY CONTROL 4
QUANTITY SURVEYOR 1
PELAKSANA ASPAL 1
SURVEYOR 7
DRAFTER 1
KABAG OPERASI 8
PLANT WAREHOUSING STAFF 1
GENERAL ACCOUNTING STAFF 1
LOGISTIK 2
KEUANGAN STAFF 1
TE MECHANIC 1
TE POWER HOUSE SENIOR OPERATOR 4
TE WATERWAY SENIOR OPERATOR 6
CHIEF BUSINESS DEVELOPMENT OFFICER 1
PJS. ACCOUNTING ASSISTANT MANAGER 1
EQUIPMENT EVALUATION ASSISTANT MANAGER 1
HCBP ASSISTANT MANAGER 1
HCBP SENIOR STAFF 1
JAKARTA (REPRESENTATIVE OFFICE) ASSISTANT MANAGER 1
KABAG TEKNIK (SITE ENGINEER) 1
PJS. ERP ACCOUNTING CONSOL SENIOR ANALYST 1
TAX SECTION HEAD 2
ASSET MANAGEMENT ANALYST 1
FINANCE SECTION HEAD 1
LEGAL ASSOCIATES 2
SENIOR ESTIMATOR & VIEWER 1
PJS. GENERAL AFFAIR SECTION HEAD 1
PJS. PENGADAAN DIRECT - INDIRECT SECTION HEAD 1
DOCUMENT QUALITY CONTROL ASSISTANT MANAGER 1
HSE ASSISTANT MANAGER 1
HSE ASSOCIATES 1
LINGKUNGAN STAFF 1
STRATEGIC MANAGEMENT  ASSOCIATES 1
TECHNICAL ADMINISTRATION ASSISTANT MANAGER 1
PJS. KABAG KEUANGAN 1
KEPALA PLANT 4
KOORDINATOR PLANT 1
KEPALA PERALATAN 1
KABAG ADUM.& KEU. 1
SENIOR ESTIMATOR & KEPALA PROYEK 1
AKUNTANSI & KEUANGAN STAFF 1
KABAG TEKNIK 5
KABAG KEUANGAN 5
KABAG QHSE 1
K3L STAFF 2
DEPUTY KEPALA PROYEK 2
PJS. DEPUTY KEPALA PROYEK 1
SITE ENGINEERING MGR 1
PJS. KABAG TEKNIK & OPERASI 1
TE CASHIER STAFF 1
TE UNIT MANAGER 1
MARKETING & OPERATION REGION II GENERAL MANAGER 1
ACCOUNTING DEPARTMENT HEAD 1
ACCOUNTING ASSISTANT MANAGER 2
ACCOUNTING SENIOR STAFF 3
TAX SENIOR STAFF 1
PJS. EQUIPMENT & MAINTENANCE MANAGER 1
PJS. EQUIPMENT ASSISTANT MANAGER 1
FINANCE ASSISTANT MANAGER 1
CASHFLOW MANAGEMENT SENIOR STAFF 1
FINANCE SENIOR STAFF 2
HCBP, GA, & HSE MANAGER 2
MARKETING REGION II ANALYST 1
NON-ASPAL PURCHASING ASSISTANT MANAGER 1
NON-ASPAL PURCHASING SENIOR STAFF 2
BRANCH MANAGER 4
ADMINISTRATION SENIOR SUPERVISOR 4
BITUMEN DELIVERY SUPERVISOR 1
TECHNICAL SERVICES SUPERVISOR 3
BALANCE & BOILER OPERATOR 6
PJS. SALES SENIOR SUPERVISOR 1
PJS. BRANCH MANAGER 1
CASHIER 1
GENERAL AFFAIR & PERSONNEL SENIOR STAFF 1
MECHANICAL ELECTRICAL ENGINEER 2
PJS. TAC BULK BITUMEN STORAGE SENIOR SUPERVISOR 1
GENERAL AFFAIR SUPERVISOR 1
PJS. BITUMEN DELIVERY SUPERVISOR 1
TAC BULK BITUMEN STORAGE SENIOR SUPERVISOR 1
ACCOUNTING MANAGER 1
ACCOUNTING SECTION HEAD 1
COST ACCOUNTING SECTION HEAD 1
ACCOUNTING STAFF 5
TAX STAFF 2
MECHANICAL ELECTRICAL SECTION HEAD 1
EQUIPMENT ADMIN SECTION HEAD 1
ELECTRICAL STAFF 1
FINANCE MANAGER 1
CASH MANAGEMENT SECTION HEAD 1
PJS. BUDGET SECTION HEAD 1
BUDGET STAFF 1
COLLECTOR 3
FINANCE STAFF HEAD OFFICE 2
FINANCE BUSINESS UNIT STAFF 3
HCBP STAFF (PERFORMANCE & TALENT) 1
HSE STAFF 2
APLICATOR PRECAST STAFF 1
PRECAST BONTORAMBA SECTION HEAD 1
QA & QC SECTION HEAD (READY MIX & PRECAST) 1
ADMIN TEKNIK PRODUCTION STAFF 1
APLIKATOR PRECAST STAFF 2
PROCUREMENT ADMIN STAFF 1
PROCUREMENT SECTION HEAD 1
PRODUCTION GENERAL MANAGER 1
PROJECT LEADER READY MIX PANGKEP 1
READY MIX PRODUCTION SECTION HEAD KENDARI 1
READY MIX MANAGER 1
KOORDINATOR ADMIN READY MIX 1
RESEARCH AND DEVELOPMENT SECTION HEAD 1
RESEARCH AND DEVELOPMENT STAFF 1
SALES & MARKETING GENERAL MANAGER 1
SALES MANAGER (BATA RINGAN & SEMEN INSTAN) 1
SALES MANAGER (READY MIX &PRECAST) 1
MARKETING ASSISTANT MANAGER 1
SALES ADMIN SECTION HEAD 1
ADMIN SALES STAFF 1
MARKETING STAFF 1
SALESMAN 4
SEMEN INSTAN MANAGER 1
ADMIN PRODUCTION STAFF 1
PRODUCTION COORDINATOR STAFF 1
SUPPLY CHAIN OFFICER 1
PJS. PROPERTY MANAGEMENT GENERAL MANAGER 1
PJS. SALES GENERAL MANAGER 1
PJS. ACCOUNTING DEPARTMENT HEAD 1
MARI CASUAL LEASING ANALYST 1
NIPAH CASUAL LEASING ASSOCIATES 1
NIPAH CASUAL LEASING ANALYST 1
LIVE SPACE ASSOCIATES 1
CIVIL & CONSTRUCTION MANAGER 1
CIVIL & CONSTRUCTION ASSOCIATES 1
CIVIL & CONSTRUCTION ANALYST 2
PJS. TAX ASSISTANT MANAGER 1
SENIOR CASHIER ANALYST 1
COLLECTION & BILLING STAFF 1
FINANCE STAFF 1
TREASURY STAFF 1
HCBP GA & HSE MANAGER 1
HC & GA IKP SECTION HEAD 1
HC STAFF 1
HSE ANALYST 1
SECRETARY TO COO 1
FIT OUT SENIOR SUPERVISOR 2
OPERATION SUPERVISOR 1
ENGINEERING ADMIN 1
FIT OUT STAFF 5
TENANT RELATION STAFF 5
MARKETING & COMMUNICATION MANAGER 1
PJS. ADVERTISING & PROMOTION SECTION HEAD 1
PJS. DIGITAL MARKETING SECTION HEAD 1
CREATIVE DESIGN ANALYST 1
DIGITAL MARKETING STAFF 1
ENGINEERING SENIOR SUPERVISOR 1
OPERATION STAFF 4
TENANT RELATION SENIOR SUPERVISOR 1
PJS. PURCHASING MANAGER 1
PURCHASING STAFF 3
LOGISTIC STAFF 3
PJS. SALES MANAGER 1
MARI LEASING ASSOCIATES 1
WISMA KALLA OFFICE LEASING ASSOCIATES 1
NIPAH LEASING ANALYST 1
WISMA KALLA OFFICE LEASING ANALYST 1
WK OFFICE BUILDING MANAGEMENT MANAGER 1
ENGINEERING SUPERVISOR 1
OPERATION SENIOR SUPERVISOR 1
PLT. OPERATION SUPERVISOR 1
CUSTOMER RELATION 1
ENGINEERING STAFF 1
FOOD & BEVERAGE GENERAL MANAGER 1

In [ ]:
for i in mergedCSV2['JOB_LEVEL'].unique():
  print(i, len(mergedCSV2.loc[mergedCSV2['JOB_LEVEL'] == i]))

OPERATIONAL LEADERS 94
TECHNICAL LEADERS 242
STAFF/OPERATOR 175
STRATEGIC LEADERS 15
EXECUTIVE LEADERS 2

## ***Cluster 3***

In [ ]:
source = r'/content/gdrive/MyDrive/skripsi/hasil-cluster3.csv'
cluster3 = pd.read_csv(source)
cluster3

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,200700326,0.970874,0.957895,0.676471,0.0,0.944444,0.965517,0.896552,0.767857,3
1,199500085,0.902913,0.863158,0.470588,0.0,0.866667,0.758621,0.827586,0.982143,3
2,199500048,0.883495,0.915789,0.558824,0.0,0.955556,0.982759,1.000000,1.000000,3
3,200700297,0.951456,0.968421,0.794118,0.0,0.911111,0.810345,1.000000,0.892857,3
4,201600670,0.873786,0.957895,0.470588,0.0,0.944444,0.965517,1.000000,0.982143,3
...,...,...,...,...,...,...,...,...,...,...
553,201000471,0.902913,0.873684,0.411765,0.0,0.944444,1.000000,0.965517,1.000000,3
554,201000430,0.902913,0.873684,0.411765,0.0,0.955556,0.982759,0.982759,0.982143,3
555,201000431,0.902913,0.863158,0.588235,0.0,0.955556,0.896552,0.586207,1.000000,3
556,202104021,0.902913,0.863158,0.617647,0.2,0.944444,0.896552,0.603448,1.000000,3
557,199500919,0.902913,0.873684,0.676471,0.0,0.866667,0.775862,0.965517,0.660714,3

In [ ]:
len(cluster3['NIK'].unique())

558

In [ ]:
mergedCSV3 = mergedCSV3.drop_duplicates(keep='first')

In [ ]:
len(mergedCSV3['NIK'].unique())

558

In [ ]:
mergedCSV3.loc[mergedCSV3['Cluster'] == '']

Empty DataFrame
Columns: [NIK, BUSINESS_UNIT, LOCATION, DEPARTMENT, JOB_POSITION, JOB_LEVEL, PK, PERFORMANCE, COMPETENCY, LEARNING POINT, Kerja Ibadah, Apresiasi, Lebih cepat, Aktif bersama, Cluster]
Index: []

In [ ]:
duplicate = mergedCSV3[mergedCSV3.duplicated('NIK')]
 
print("Duplicate Rows based on NIK :",duplicate)

Duplicate Rows based on NIK : Empty DataFrame
Columns: [NIK, BUSINESS_UNIT, LOCATION, DEPARTMENT, JOB_POSITION, JOB_LEVEL, PK, PERFORMANCE, COMPETENCY, LEARNING POINT, Kerja Ibadah, Apresiasi, Lebih cepat, Aktif bersama, Cluster]
Index: []

In [ ]:
duplicate = cluster3[cluster3.duplicated('NIK')]
 
print("Duplicate Rows based on NIK :",duplicate)

Duplicate Rows based on NIK : Empty DataFrame
Columns: [NIK, PK, PERFORMANCE, COMPETENCY, LEARNING POINT, Kerja Ibadah, Apresiasi, Lebih cepat, Aktif bersama, Cluster]
Index: []

In [ ]:
mergedCSV3 = master[['NIK','BUSINESS_UNIT','LOCATION','DEPARTMENT','JOB_POSITION','JOB_LEVEL']].merge(cluster3, on = 'NIK',how = 'right')
mergedCSV3

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,200700326,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,CHIEF EXECUTIVE OFFICER GO DEVCON,EXECUTIVE LEADERS,0.970874,0.957895,0.676471,0.0,0.944444,0.965517,0.896552,0.767857,3
1,199500085,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,CHIEF FINANCE OFFICER KALLA OTO,EXECUTIVE LEADERS,0.902913,0.863158,0.470588,0.0,0.866667,0.758621,0.827586,0.982143,3
2,199500048,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,DIRECTOR,CORPORATE FINANCE DIRECTOR,EXECUTIVE LEADERS,0.883495,0.915789,0.558824,0.0,0.955556,0.982759,1.000000,1.000000,3
3,200700297,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,MARKETING & BUSINESS DEVELOPMENT DIRECTOR,EXECUTIVE LEADERS,0.951456,0.968421,0.794118,0.0,0.911111,0.810345,1.000000,0.892857,3
4,201600670,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 13,DIRECTOR,PEOPLE & PERFORMANCE DIRECTOR,EXECUTIVE LEADERS,0.873786,0.957895,0.470588,0.0,0.944444,0.965517,1.000000,0.982143,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,201000471,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.902913,0.873684,0.411765,0.0,0.944444,1.000000,0.965517,1.000000,3
554,201000430,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.902913,0.873684,0.411765,0.0,0.955556,0.982759,0.982759,0.982143,3
555,201000431,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.902913,0.863158,0.588235,0.0,0.955556,0.896552,0.586207,1.000000,3
556,202104021,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.902913,0.863158,0.617647,0.2,0.944444,0.896552,0.603448,1.000000,3
557,199500919,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,EXECUTIVE CHEF,OPERATIONAL LEADERS,0.902913,0.873684,0.676471,0.0,0.866667,0.775862,0.965517,0.660714,3

In [ ]:
duplicate = mergedCSV3[mergedCSV3.duplicated('NIK')]
 
print("Duplicate Rows based on NIK :",duplicate)

Duplicate Rows based on NIK : Empty DataFrame
Columns: [NIK, BUSINESS_UNIT, LOCATION, DEPARTMENT, JOB_POSITION, JOB_LEVEL, PK, PERFORMANCE, COMPETENCY, LEARNING POINT, Kerja Ibadah, Apresiasi, Lebih cepat, Aktif bersama, Cluster]
Index: []

In [ ]:
mergedCSV3.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,5.580000e+02,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.0
mean,2.009531e+08,0.906967,0.872213,0.508539,0.077437,0.903405,0.877765,0.825701,0.872856,3.0
std,9.598677e+05,0.061400,0.048885,0.165578,0.137687,0.114057,0.166023,0.197301,0.162665,0.0
min,1.979905e+08,0.000000,0.557895,0.000000,0.000000,0.233333,0.000000,0.000000,0.071429,3.0
25%,2.004002e+08,0.883495,0.852632,0.411765,0.000000,0.833333,0.793103,0.724138,0.785714,3.0
50%,2.012006e+08,0.912621,0.884211,0.411765,0.000000,0.944444,0.982759,0.896552,0.946429,3.0
75%,2.016008e+08,0.941748,0.905263,0.588235,0.120000,1.000000,1.000000,1.000000,1.000000,3.0
max,2.021915e+08,0.970874,0.968421,0.941176,0.500000,1.000000,1.000000,1.000000,1.000000,3.0

In [ ]:
for i in mergedCSV3['BUSINESS_UNIT'].unique():
  print(i, len(mergedCSV3.loc[mergedCSV3['BUSINESS_UNIT'] == i]))

PT. HADJI KALLA (HOLDING) 11
PT. BUMI KARSA 161
PT. BUMI SARANA UTAMA 249
PT. BUMI SARANA BETON 94
PT. KALLA INTI KARSA 43

In [ ]:
for i in mergedCSV3['DEPARTMENT'].unique():
  print(i, len(mergedCSV3.loc[mergedCSV3['DEPARTMENT'] == i]))

DIRECTOR 11
GA, HSE, PURCHASING & SECRETARY HOLDING DEPARTMENT 2
TREASURY & ASET MANAGEMENT DIVISION 1
GENERAL AFFAIR DEPARTMENT 1
PLANNING, RESEARCH & DEVELOPMENT DEPARTMENT 1
PROJECT DEPARTMENT 33
JO/JVC/POOL DEPARTMENT 4
EQUIPMENT DEPARTMENT 137
ACCOUNTING DEPARTMENT 3
NON-STAF 1
QMS & HSE DEPARTMENT 1
FINANCE DEPARTMENT 4
HCBP, GA, & HSE DEPARTMENT 1
LEGAL 2
PURCHASING DEPARTMENT 1
BRANCH BANJARMASIN 23
BRANCH BULUNGAN 16
BRANCH GORONTALO 27
BRANCH JAYAPURA 17
BRANCH KENDARI 24
BRANCH LOMBOK 11
BRANCH MAKASSAR 39
BRANCH PALU 25
BRANCH PONTIANAK 12
BRANCH SAMARINDA 24
BRANCH SORONG 16
TAC PAGIMANA 10
BATA RINGAN DEPARTMENT 8
HCBP, GA & HSE DEPARTMENT 2
PRECAST DEPARTMENT 8
PROCUREMENT DEPARTMENT 10
QSO 2
READY MIX DEPARTMENT 36
SALES DEPARTMENT 1
SMO 2
SUPPLY CHAIN 1
MARI SHOPPING CENTRE 17
NIPAH OFFICE & SHOPPING CENTRE 15
WISMA KALLA OFFICE BUILDING 8
FOOD & BEVERAGE 1

In [ ]:
for i in mergedCSV3['LOCATION'].unique():
  print(i, len(mergedCSV3.loc[mergedCSV3['LOCATION'] == i]))

HEAD OFFICE WISMA KALLA LT. 13 7
HEAD OFFICE WISMA KALLA LT. 14 4
HEADQUARTERS 17
PROYEK JALAN YETTI MAMBERAMO 1
PROYEK STASIUN KA 2
UNIT 8
HEAD OFFICE 14
PENGENDALIAN BANJIR KALI BEKASI PAKET 6 2
PERALATAN PROYEK BENDUNG BOLANGO 13
PLANT GROGOT 9
PLANT KAMPIRI 5
PLANT MAROS-BONE(CAMBA) 5
PLANT PAPUA 17
PLANT PINRANG 21
PLANT SAMBERA 14
PLANT SINJAI-WATAMPONE 3
PROYEK BATANG ASAI 5
PROYEK IRIGASI RENTANG LS004 3
PROYEK IRIGASI RENTANG LS008 2
PROYEK PEMBANGUNAN BENDUNGAN BOLANGO ULU 2
PROYEK PERKERETAAPIAN MKS-PAREPARE SEGMEN F 2
PROYEK RENOVASI SHOW ROOM DAN BENGKEL PT. HADJI KALLA CABANG BONE 1
PROYEK REVITALISASI DANAU TONDANO TAHAP I 4
PROYEK SAMBERA 3
PROYEK SUBKON QUARRY MARDINDING JAHE 2
PROYEK SUNGAI BOGOWONTO YOGYAKARTA 1
PROYEK TANAH GROGOT 3
REPRESENTATIVE OFFICE 1
PROYEK IRIGASI BALIASE KIRI LUWU UTARA 1
PROYEK JALAN MAJENE-POLEWALI 1
PROYEK PRESERVASI JALAN SINJAI-WATAMPONE 1
HEAD OFFICE WISMA KALLA LT. 10 5
BRANCH BANJARMASIN 6
TAC BANJARMASIN 17
BRANCH BULUNGAN 3
TAC BULUNGAN 13
BRANCH GORONTALO 4
TAC ANGGREK 23
BRANCH JAYAPURA 5
TAC JAYAPURA 12
BRANCH KENDARI 5
TAC KESSILAMPE 19
BRANCH LOMBOK 2
TAC LOMBOK 9
BRANCH MAKASSAR 1
TAC BELANG - BELANG 13
TAC PARE - PARE 25
BRANCH PALU 7
TAC PANTOLOAN 18
BRANCH PONTIANAK 1
TAC PONTIANAK 11
BRANCH SAMARINDA 4
TAC PALARAN 20
BRANCH SORONG 5
TAC ARAR 11
KANTOR PEMASARAN LUWUK 2
TAC PAGIMANA 8
Head Office Wisma Kalla 8
Unit KIMA 17 13
Ready Mix Proyek Pangkep 3
Ready Mix Proyek Wolo 2
Unit Bontoramba 5
Unit Kendari 6
Unit Lonjoboko 9
Unit Tanjung Bunga 37
Ready Mix Proyek Barru 7
Ready Mix Proyek Gorontalo 4
MALL RATU INDAH 17
NIPAH MALL 16
WISMA KALLA 8

In [ ]:
for i in mergedCSV3['JOB_POSITION'].unique():
  print(i, len(mergedCSV3.loc[mergedCSV3['JOB_POSITION'] == i]))

CHIEF EXECUTIVE OFFICER GO DEVCON 1
CHIEF FINANCE OFFICER  KALLA OTO 1
CORPORATE FINANCE DIRECTOR 1
MARKETING & BUSINESS DEVELOPMENT DIRECTOR 1
PEOPLE & PERFORMANCE DIRECTOR 1
PRESIDENT DIRECTOR 1
CHIEF CORPORATE SECRETARY & LEGAL OFFICER 1
CHIEF FINANCE OFFICER KALLA DEVCON 1
SUPPORTING (OFFICE BOY) 1
SUPPORTING (OFFICE GIRL) 1
TREASURY & ASET MANAGEMENT DIVISION HEAD 1
GENERAL AFFAIR MANAGER 1
PLANNING, RESEARCH & DEVELOPMENT MANAGER 1
KEPALA PROYEK 2
DIREKTUR TEKNIK 1
MANAGER ENGINEERING 1
MANAGER LOGISTIC 1
EQUIPMENT EVALUATION & ERP SENIOR STAFF 1
EQUIPMENT MOBILIZATION SENIOR STAFF 1
EQUIPMENT ORDER SENIOR STAF 1
MECHANIC 6
MEKANIK BUBUT 1
MEKANIK ELEKTRISI 6
MEKANIK LAS 6
OPERATOR ALAT BERAT 35
AKUNTANSI PROYEK STAFF 2
KEPALA PERALATAN 2
SOPIR ALAT ANGKUT 44
OFFICE DRIVER 1
ENGINEER BUSINESS DEVELOPMENT STAFF 1
ERP SENIOR STAFF 1
WORKSHOP ADMINISTRATION SENIOR STAFF 1
PLANT ADMINISTRATION STAFF 5
PLANT CASHIER STAFF 1
PLANT OPERATION SENIOR STAFF 1
PLANT WAREHOUSING STAFF 1
AKUNTANSI STAFF 3
PELAKSANA 1
SURVEYOR 2
QUANTITY 5
TEKNIK PROYEK STAFF 6
ADMINISTRASI PERALATAN 1
LOGISTIK 1
K3L PROYEK STAFF 1
KANTOR CABANG STAFF 1
KABAG OPERASI 2
WORKSHOP ASSISTANT MANAGER 1
KEPALA PLANT 2
KOORDINATOR PERALATAN 1
QUALITY CONTROL 2
PJS. KABAG KEUANGAN 1
KABAG TEKNIK 3
K3L STAFF 1
KABAG KEUANGAN 2
PJS. MANAJER KEUANGAN & AKUNTING 1
CHIEF OPERATION OFFICER 2
AR STAFF 1
GA & HSE ASSISTANT MANAGER 1
LEGAL SENIOR SPECIALIST 1
ASPAL PURCHASING ASSISTANT MANAGER 1
ADMINISTRATION SENIOR SUPERVISOR 5
SALES SENIOR SUPERVISOR 2
ACCOUNTING SENIOR STAFF 9
CASHIER 19
GENERAL AFFAIR & PERSONNEL SENIOR STAFF 2
SALES SENIOR STAFF 2
BITUMEN DELIVERY SUPERVISOR 7
GENERAL AFFAIR SUPERVISOR 8
TAC BULK BITUMEN STORAGE SENIOR SUPERVISOR 7
BALANCE & BOILER OPERATOR 21
COORDINATOR SECURITY 1
MECHANICAL ELECTRICAL ENGINEER 29
TANKER TRUCK DRIVER 103
BRANCH MANAGER 5
PJS. SALES SENIOR SUPERVISOR 4
GENERAL AFFAIR STAFF 6
SALES ADMINISTRATION SENIOR STAFF 8
PJS. TAC BULK BITUMEN STORAGE SENIOR SUPERVISOR 1
TECHNICAL SERVICES SUPERVISOR 4
PJS. GENERAL AFFAIR SUPERVISOR 1
PJS. BITUMEN DELIVERY SUPERVISOR 1
DEPUTY CHIEF OPERATION OFFICER 1
KOORDINATOR PENGIRIMAN BATA RINGAN 1
KOORDINATOR SHIFT 7
LABORATORY STAFF 1
OPERATOR BOILER 2
OPERATOR POURING / CURING 1
MEKANIK 13
KOORDINATOR PERALATAN PRECAST 1
MAINTENANCE STAFF (KENDARI) 1
WELDER 3
PLANT ERECTION STAFF 1
ADMIN EQUIPMENT STAFF 1
FINANCE BUSINESS UNIT STAFF 3
HSE STAFF 1
LEGAL OFFICER 1
KOORDINATOR ARMADA PRECAST 1
KOORDINATOR MACHINE PRODUCTION 1
CREW CRANE MINIPILE 1
DRIVER DUMP TRUCK 1
HELPER MESIN PANCANG 1
HELPER TRUCK CRANE 1
OPERATOR MESIN PANCANG 1
OPERATOR SCALVIN 1
WAREHOUSE STAFF 4
FINANCE & ACCOUNTING ADMIN STAFF 1
PRODUCTION & LOGISTIC ADMIN STAFF 1
PROCUREMENT STAFF 2
ATTENDANT LOGISTIC 1
LOGISTIC STAFF 1
QUALITY SYSTEM OFFICER 1
LABORAT 6
CREW CONCRETE PUMP 10
DRIVER CONCRETE PUMP 1
OPERATOR BATCHING PLANT 2
OPERATOR CONCRETE PUMP 3
CREW BATCHING PLANT 2
ADMIN PRODUCTION STAFF 1
CHECKER ANGKUTAN PRECAST STAFF 1
DRIVER TRUCK MIXER 1
STONE CRUSHER PRODUCTION SECTION HEAD 1
ADMIN PRODUCTION / MAINTENANCE STAFF 1
LOGISTIC STAFF FINISHED GOOD 1
CREW STONE CRUSHER 1
OPERATOR LOADER 1
SALESMAN 1
STRATEGIC MANAGEMENT SENIOR OFFICER 1
SUPPLY CHAIN STAFF 1
ENGINEERING SUPERVISOR 1
ENGINEERING STAFF 33
OPERATION STAFF 5
TENANT RELATION STAFF 1
QUALITY SYSTEM ASSOCIATES 1
STRATEGIC MANAGEMENT ASSOCIATES 1
EXECUTIVE CHEF 1

In [ ]:
for i in mergedCSV3['JOB_LEVEL'].unique():
  print(i, len(mergedCSV3.loc[mergedCSV3['JOB_LEVEL'] == i]))

EXECUTIVE LEADERS 8
STRATEGIC LEADERS 4
STAFF/OPERATOR 419
OPERATIONAL LEADERS 13
TECHNICAL LEADERS 71
NON STAFF 43

## **Cluster 4**

In [ ]:
source = r'/content/gdrive/MyDrive/skripsi/hasil-cluster4.csv'
cluster4 = pd.read_csv(source)
cluster4

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201791264,0.0,0.000000,0.441176,0.0,0.722222,0.413793,0.517241,0.607143,4
1,201791265,0.0,0.000000,0.411765,0.0,0.744444,0.396552,0.517241,0.607143,4
2,201791266,0.0,0.042105,0.411765,0.0,0.911111,0.982759,0.965517,0.982143,4
3,201791262,0.0,0.031579,0.558824,0.0,0.911111,0.810345,0.827586,1.000000,4
4,201791261,0.0,0.000000,0.441176,0.0,0.733333,0.413793,0.517241,0.607143,4
...,...,...,...,...,...,...,...,...,...,...
82,199691301,0.0,0.000000,0.264706,0.0,0.722222,0.603448,0.534483,0.607143,4
83,201191172,0.0,0.000000,0.264706,0.0,0.700000,0.603448,0.241379,0.571429,4
84,200891138,0.0,0.000000,0.411765,0.0,0.655556,0.603448,0.413793,0.678571,4
85,200391120,0.0,0.010526,0.411765,0.0,0.811111,0.603448,0.517241,0.803571,4
86,201291193,0.0,0.010526,0.411765,0.0,0.688889,0.689655,0.431034,0.803571,4

In [ ]:
cluster4.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,8.700000e+01,87.0,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.0
mean,2.012130e+08,0.0,0.021658,0.422583,0.003448,0.792720,0.654182,0.579073,0.720033,4.0
std,4.954600e+05,0.0,0.092429,0.153296,0.032163,0.095549,0.195760,0.184735,0.153408,0.0
min,1.992913e+08,0.0,0.000000,0.088235,0.000000,0.655556,0.327586,0.241379,0.482143,4.0
25%,2.009412e+08,0.0,0.000000,0.411765,0.000000,0.733333,0.413793,0.500000,0.607143,4.0
50%,2.012912e+08,0.0,0.010526,0.411765,0.000000,0.755556,0.672414,0.517241,0.607143,4.0
75%,2.014912e+08,0.0,0.021053,0.426471,0.000000,0.866667,0.793103,0.655172,0.803571,4.0
max,2.019913e+08,0.0,0.863158,0.911765,0.300000,1.000000,1.000000,1.000000,1.000000,4.0

In [ ]:
mergedCSV4 = master[['NIK','BUSINESS_UNIT','LOCATION','DEPARTMENT','JOB_POSITION','JOB_LEVEL']].merge(cluster4, on = 'NIK',how = 'right')
mergedCSV4

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201791264,PT. BUMI SARANA BETON,Unit KIMA 17,BATA RINGAN DEPARTMENT,DRIVER FLATBACK TRUCK,NON STAFF,0.0,0.000000,0.441176,0.0,0.722222,0.413793,0.517241,0.607143,4
1,201791265,PT. BUMI SARANA BETON,Unit KIMA 17,BATA RINGAN DEPARTMENT,DRIVER FLATBACK TRUCK,NON STAFF,0.0,0.000000,0.411765,0.0,0.744444,0.396552,0.517241,0.607143,4
2,201791266,PT. BUMI SARANA BETON,Unit KIMA 17,BATA RINGAN DEPARTMENT,DRIVER FLATBACK TRUCK,NON STAFF,0.0,0.042105,0.411765,0.0,0.911111,0.982759,0.965517,0.982143,4
3,201791262,PT. BUMI SARANA BETON,Unit KIMA 17,BATA RINGAN DEPARTMENT,LABORAT,NON STAFF,0.0,0.031579,0.558824,0.0,0.911111,0.810345,0.827586,1.000000,4
4,201791261,PT. BUMI SARANA BETON,Unit KIMA 17,BATA RINGAN DEPARTMENT,OPERATOR AUTOCLAVE,NON STAFF,0.0,0.000000,0.441176,0.0,0.733333,0.413793,0.517241,0.607143,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,199691301,PT. BUMI SARANA BETON,Unit Tanjung Bunga,READY MIX DEPARTMENT,OPERATOR LOADER,NON STAFF,0.0,0.000000,0.264706,0.0,0.722222,0.603448,0.534483,0.607143,4
83,201191172,PT. BUMI SARANA BETON,Unit Tanjung Bunga,READY MIX DEPARTMENT,SECURITY,NON STAFF,0.0,0.000000,0.264706,0.0,0.700000,0.603448,0.241379,0.571429,4
84,200891138,PT. BUMI SARANA BETON,Unit Tanjung Bunga,READY MIX DEPARTMENT,SECURITY,NON STAFF,0.0,0.000000,0.411765,0.0,0.655556,0.603448,0.413793,0.678571,4
85,200391120,PT. BUMI SARANA BETON,Unit Tanjung Bunga,READY MIX DEPARTMENT,SURVEYOR,NON STAFF,0.0,0.010526,0.411765,0.0,0.811111,0.603448,0.517241,0.803571,4
86,201291193,PT. BUMI SARANA BETON,Unit Tanjung Bunga,READY MIX DEPARTMENT,SURVEYOR,NON STAFF,0.0,0.010526,0.411765,0.0,0.688889,0.689655,0.431034,0.803571,4

In [ ]:
mergedCSV4.describe()

,NIK,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
count,8.700000e+01,87.0,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.0
mean,2.012130e+08,0.0,0.021658,0.422583,0.003448,0.792720,0.654182,0.579073,0.720033,4.0
std,4.954600e+05,0.0,0.092429,0.153296,0.032163,0.095549,0.195760,0.184735,0.153408,0.0
min,1.992913e+08,0.0,0.000000,0.088235,0.000000,0.655556,0.327586,0.241379,0.482143,4.0
25%,2.009412e+08,0.0,0.000000,0.411765,0.000000,0.733333,0.413793,0.500000,0.607143,4.0
50%,2.012912e+08,0.0,0.010526,0.411765,0.000000,0.755556,0.672414,0.517241,0.607143,4.0
75%,2.014912e+08,0.0,0.021053,0.426471,0.000000,0.866667,0.793103,0.655172,0.803571,4.0
max,2.019913e+08,0.0,0.863158,0.911765,0.300000,1.000000,1.000000,1.000000,1.000000,4.0

In [ ]:
for i in mergedCSV4['BUSINESS_UNIT'].unique():
  print(i, len(mergedCSV4.loc[mergedCSV4['BUSINESS_UNIT'] == i]))

PT. BUMI SARANA BETON 87

In [ ]:
for i in mergedCSV4['LOCATION'].unique():
  print(i, len(mergedCSV4.loc[mergedCSV4['LOCATION'] == i]))

Unit KIMA 17 28
Head Office Wisma Kalla 4
Unit Bontoramba 6
Unit Tanjung Bunga 21
Ready Mix Proyek Barru 5
Ready Mix Proyek Pangkep 2
Unit Kendari 3
Unit Lonjoboko 18

In [ ]:
for i in mergedCSV4['JOB_POSITION'].unique():
  print(i, len(mergedCSV4.loc[mergedCSV4['JOB_POSITION'] == i]))

DRIVER FLATBACK TRUCK 3
LABORAT 3
OPERATOR AUTOCLAVE 3
OPERATOR BALLMILL 3
OPERATOR BOILER 2
OPERATOR CCR 1
OPERATOR CUTTING CRANE 3
OPERATOR FORKLIFT 2
OPERATOR KAPUR 1
OPERATOR LOADER 8
OPERATOR POURING / CURING 2
OPERATOR POURING/CURING 1
SECURITY 6
DRIVER 1
DRIVER DEPUTY COO 1
DRIVER OPERASIONAL HEAD OFFICE 1
OFFICE GIRL 1
DRIVER DUMP TRUCK 14
OPERATOR MESIN PRECAST 2
WAREHOUSE STAFF 2
DRIVER TRUCK MIXER 14
OPERATOR CONCRETE PUMP 1
OPERATOR BATCHING PLANT 1
CREW STONE CRUSHER 1
OPERATOR EXCAVATOR 3
OPERATOR SCALVIN 1
OPERATOR STONE CRUSHER 3
KOORDINATOR SHIFT 1
SURVEYOR 2

In [ ]:
for i in mergedCSV4['DEPARTMENT'].unique():
  print(i, len(mergedCSV4.loc[mergedCSV4['DEPARTMENT'] == i]))

BATA RINGAN DEPARTMENT 27
HCBP, GA & HSE DEPARTMENT 4
PRECAST DEPARTMENT 5
PROCUREMENT DEPARTMENT 2
READY MIX DEPARTMENT 49

In [ ]:
for i in mergedCSV4['JOB_LEVEL'].unique():
  print(i, len(mergedCSV4.loc[mergedCSV4['JOB_LEVEL'] == i]))

NON STAFF 86
STAFF/OPERATOR 1

# ***Best***

In [ ]:
mergedCSV2

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster
0,201700733,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD,OPERATIONAL LEADERS,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2
1,201801023,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2
2,201903269,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.961165,0.926316,0.588235,1.0,1.000000,0.896552,0.741379,0.785714,2
3,202104089,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE JUNIOR OFFICER,STAFF/OPERATOR,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2
4,201600660,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,201200662,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,CUSTOMER RELATION,STAFF/OPERATOR,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
524,201100495,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.961165,0.926316,0.470588,0.5,0.944444,1.000000,0.982759,0.982143,2
525,200900350,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,FIT OUT STAFF,STAFF/OPERATOR,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2
526,200800348,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,TENANT RELATION STAFF,STAFF/OPERATOR,0.902913,0.884211,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2
527,200100421,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVERAGE GENERAL MANAGER,STRATEGIC LEADERS,0.883495,0.852632,0.735294,1.0,0.866667,0.793103,0.758621,0.767857,2

In [ ]:
mergedCSV2['perform_without_add'] = (85/100*mergedCSV2['PK']) + (15/100*( mergedCSV2['Kerja Ibadah']+mergedCSV2['Apresiasi']+
         mergedCSV2['Lebih cepat']+mergedCSV2['Aktif bersama']))

In [ ]:
mergedCSV2

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster,perform_without_add
0,201700733,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD,OPERATIONAL LEADERS,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2,1.410324
1,201801023,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2,1.408738
2,201903269,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.961165,0.926316,0.588235,1.0,1.000000,0.896552,0.741379,0.785714,2,1.330537
3,202104089,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE JUNIOR OFFICER,STAFF/OPERATOR,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243
4,201600660,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2,1.377847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,201200662,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,CUSTOMER RELATION,STAFF/OPERATOR,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243
524,201100495,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.961165,0.926316,0.470588,0.5,0.944444,1.000000,0.982759,0.982143,2,1.403392
525,200900350,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,FIT OUT STAFF,STAFF/OPERATOR,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2,1.423576
526,200800348,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,TENANT RELATION STAFF,STAFF/OPERATOR,0.902913,0.884211,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2,1.367476
527,200100421,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVERAGE GENERAL MANAGER,STRATEGIC LEADERS,0.883495,0.852632,0.735294,1.0,0.866667,0.793103,0.758621,0.767857,2,1.228908

In [ ]:
mergedCSV2['potential']=(70/100*mergedCSV2['COMPETENCY'])+(30/100*mergedCSV2['LEARNING POINT'])

In [ ]:
mergedCSV2

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster,perform_without_add,potential
0,201700733,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD,OPERATIONAL LEADERS,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2,1.410324,0.876471
1,201801023,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2,1.408738,0.732353
2,201903269,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.961165,0.926316,0.588235,1.0,1.000000,0.896552,0.741379,0.785714,2,1.330537,0.711765
3,202104089,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE JUNIOR OFFICER,STAFF/OPERATOR,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243,0.773529
4,201600660,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2,1.377847,0.670588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,201200662,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,CUSTOMER RELATION,STAFF/OPERATOR,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243,0.917647
524,201100495,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,ENGINEERING STAFF,STAFF/OPERATOR,0.961165,0.926316,0.470588,0.5,0.944444,1.000000,0.982759,0.982143,2,1.403392,0.479412
525,200900350,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,FIT OUT STAFF,STAFF/OPERATOR,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2,1.423576,0.938235
526,200800348,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,TENANT RELATION STAFF,STAFF/OPERATOR,0.902913,0.884211,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2,1.367476,0.917647
527,200100421,PT. KALLA INTI KARSA,WISMA KALLA,FOOD & BEVERAGE,FOOD & BEVERAGE GENERAL MANAGER,STRATEGIC LEADERS,0.883495,0.852632,0.735294,1.0,0.866667,0.793103,0.758621,0.767857,2,1.228908,0.814706

In [ ]:
#sum with additional point
mergedCSV2['total'] = mergedCSV2['potential']+mergedCSV2['PERFORMANCE']
#sum without additional point
mergedCSV2['total_without_add'] = mergedCSV2['potential']+mergedCSV2['perform_without_add']

In [ ]:
best = mergedCSV2.loc[mergedCSV2['potential']>1.05]
best = mergedCSV2.loc[mergedCSV2['PERFORMANCE']>1.05]

In [ ]:
best

Empty DataFrame
Columns: [NIK, BUSINESS_UNIT, LOCATION, DEPARTMENT, JOB_POSITION, JOB_LEVEL, PK, PERFORMANCE, COMPETENCY, LEARNING POINT, Kerja Ibadah, Apresiasi, Lebih cepat, Aktif bersama, Cluster, perform_without_add, potential, total, total_without_add]
Index: []

In [ ]:
max_value = mergedCSV2['total'].max()

In [ ]:
best_by_value = mergedCSV2.loc[mergedCSV2['total'] == max_value]
best_by_value

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster,perform_without_add,potential,total,total_without_add
60,201800883,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 3,DATA & APPLICATION SOLUTION DEPARTMENT,ERP SUPPORT ASSOCIATES,TECHNICAL LEADERS,0.970874,0.957895,1.0,1.0,1.0,0.982759,0.982759,0.982143,2,1.417392,1.0,1.957895,2.417392

In [ ]:
sec_best = mergedCSV2.loc[mergedCSV2['potential']>1.04]
sec_best = mergedCSV2.loc[mergedCSV2['PERFORMANCE']>0.94]
sec_best

,NIK,BUSINESS_UNIT,LOCATION,DEPARTMENT,JOB_POSITION,JOB_LEVEL,PK,PERFORMANCE,COMPETENCY,LEARNING POINT,Kerja Ibadah,Apresiasi,Lebih cepat,Aktif bersama,Cluster,perform_without_add,potential,total,total_without_add
0,201700733,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,PJS. ACCOUNTING CONSOLE DEPARTMENT HEAD,OPERATIONAL LEADERS,0.961165,0.947368,0.823529,1.0,0.955556,1.000000,1.000000,1.000000,2,1.410324,0.876471,1.823839,2.286794
1,201801023,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE OFFICER,TECHNICAL LEADERS,0.951456,0.947368,0.617647,1.0,1.000000,1.000000,1.000000,1.000000,2,1.408738,0.732353,1.679721,2.141091
3,202104089,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ACCOUNTING CONSOLE DEPARTMENT,ACCOUNTING CONSOLE JUNIOR OFFICER,STAFF/OPERATOR,0.970874,0.947368,0.676471,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243,0.773529,1.720898,2.198772
4,201600660,PT. HADJI KALLA (HOLDING),HEAD OFFICE COKRO LT. 2,ASSESSMENT CENTER & COMPETENCY DEPARTMENT,ASSESSMENT CENTER & COMPETENCY DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.529412,1.0,0.966667,0.948276,0.965517,0.803571,2,1.377847,0.670588,1.628483,2.048436
5,199700087,PT. HADJI KALLA (HOLDING),HEAD OFFICE WISMA KALLA LT. 14,ASSET MANAGEMENT STANDARDIZATION DEPARTMENT,ASSET MANAGEMENT STANDARDIZATION DEPARTMENT HEAD,OPERATIONAL LEADERS,0.970874,0.957895,0.441176,1.0,0.966667,0.862069,0.827586,0.857143,2,1.352262,0.608824,1.566718,1.961086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,201100512,PT. KALLA INTI KARSA,HEAD OFFICE,PURCHASING DEPARTMENT,PURCHASING STAFF,STAFF/OPERATOR,0.970874,0.957895,0.500000,1.0,0.988889,0.862069,0.758621,0.857143,2,1.345251,0.650000,1.607895,1.995251
513,200000200,PT. KALLA INTI KARSA,WISMA KALLA,PURCHASING DEPARTMENT,LOGISTIC STAFF,STAFF/OPERATOR,0.970874,0.947368,0.441176,1.0,0.955556,0.896552,0.931034,0.892857,2,1.376643,0.608824,1.556192,1.985466
522,202003946,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,PLT. OPERATION SUPERVISOR,TECHNICAL LEADERS,0.961165,0.947368,0.705882,1.0,0.888889,0.844828,0.810345,0.875000,2,1.329849,0.794118,1.741486,2.123967
523,201200662,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,CUSTOMER RELATION,STAFF/OPERATOR,0.970874,0.947368,0.882353,1.0,1.000000,1.000000,1.000000,1.000000,2,1.425243,0.917647,1.865015,2.342890
525,200900350,PT. KALLA INTI KARSA,WISMA KALLA,WISMA KALLA OFFICE BUILDING,FIT OUT STAFF,STAFF/OPERATOR,0.970874,0.947368,0.911765,1.0,0.988889,1.000000,1.000000,1.000000,2,1.423576,0.938235,1.885604,2.361811